@import "./common.scss";
.alert-box {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	span {
		margin-left: 35px;
	}
	button {
		background: none;
		border: none;
		color: $dark-color;
		font-size: $body-font-size;
	}
}
.setting-card {
	width: 80%;
	min-height: 500px;
	margin: 0 auto;
	border-radius: 10px;
	padding: 40px;
	.card-title {
		font-size: $subtitle-font-size;
	}
}
.card-box {
	display: flex;
	align-content: center;
	justify-items: center;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
}
.left-box {
	width: 50%;
	min-width: 300px;
	height: 200px;
}
.set-cam {
	width: 300px;
}
.right-box {
	width: 50%;
	.icon {
		display: inline-block;
		padding: 20px 20px;
	}
	select {
		width: 75%;
		height: 40px;
		border: none;
		border-bottom: 1px solid $dark-color;
		font-size: $smallest-font-size;
	}
}
.btn-box {
	.submit-btn {
		border: none;
		background: $point-color;
		color: $white-color;
		width: 150px;
		height: 40px;
		border-radius: 50px;
	}
}
